<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spaceproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Space Colony"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".NavigationActivity" />
        <activity android:name=".RecruitActivity" />

        <!-- HOME / LAUNCH SCREEN -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- QUARTERS -->
        <activity
            android:name=".QuartersActivity"
            android:exported="false" />
        <!-- SIMULATOR / TRAINING -->
        <activity
            android:name=".SimulatorActivity"
            android:exported="false" />

        <!-- MISSION CONTROL -->
        <activity
            android:name=".MissionControlActivity"
            android:exported="false" />

        <!-- MISSION / COMBAT -->
        <activity
            android:name=".MissionActivity"
            android:exported="false" />

    </application>

</manifest>