<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spaceproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Space Colony"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".QuartersActivity"       android:exported="false"/>
        <activity android:name=".SimulatorActivity"      android:exported="false"/>
        <activity android:name=".StatisticsActivity"     android:exported="false"/>
        <activity android:name=".MissionControlActivity" android:exported="false"/>
        <activity android:name=".HospitalActivity"       android:exported="false"/>
        <activity android:name=".RecruitActivity"        android:exported="false"/>

    </application>
</manifest>